.u-section-1 {
  min-height: 1110px;
}

.u-section-1 .u-image-1 {
  height: 609px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  min-height: 1658px;
  width: 1140px;
  height: auto;
  margin: -115px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  grid-auto-rows: calc(33.33% - 6.66667px);
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("images/agent.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 49px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 23px -12px 0 12px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 7px 28px 9px 27px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 240px;
  height: 240px;
  background-image: url("images/agent1.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 49px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 23px -12px 0 12px;
}

.u-section-1 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-icon-8 {
  height: 100%;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 7px 28px 9px 27px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 240px;
  height: 240px;
  background-image: url("images/agent2.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 49px 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  margin: 23px -12px 0 12px;
}

.u-section-1 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-9 {
  height: 100%;
}

.u-section-1 .u-icon-10 {
  height: 100%;
}

.u-section-1 .u-icon-11 {
  height: 100%;
}

.u-section-1 .u-icon-12 {
  height: 100%;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 7px 28px 9px 27px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  width: 240px;
  height: 240px;
  background-image: url("images/agent3.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 49px 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-12 {
  font-style: italic;
  margin: 23px -12px 0 12px;
}

.u-section-1 .u-social-icons-4 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-13 {
  height: 100%;
}

.u-section-1 .u-icon-14 {
  height: 100%;
}

.u-section-1 .u-icon-15 {
  height: 100%;
}

.u-section-1 .u-icon-16 {
  height: 100%;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 7px 28px 9px 27px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  width: 240px;
  height: 240px;
  background-image: url("images/agent4.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 49px 0 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-15 {
  font-style: italic;
  margin: 23px -12px 0 12px;
}

.u-section-1 .u-social-icons-5 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-17 {
  height: 100%;
}

.u-section-1 .u-icon-18 {
  height: 100%;
}

.u-section-1 .u-icon-19 {
  height: 100%;
}

.u-section-1 .u-icon-20 {
  height: 100%;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 7px 28px 9px 27px;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-7 {
  width: 240px;
  height: 240px;
  background-image: url("images/agent5.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-16 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 49px 0 0;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-18 {
  font-style: italic;
  margin: 23px -12px 0 12px;
}

.u-section-1 .u-social-icons-6 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-21 {
  height: 100%;
}

.u-section-1 .u-icon-22 {
  height: 100%;
}

.u-section-1 .u-icon-23 {
  height: 100%;
}

.u-section-1 .u-icon-24 {
  height: 100%;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 7px 28px 9px 27px;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-8 {
  width: 240px;
  height: 240px;
  background-image: url("images/agent6.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-19 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 49px 0 0;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-21 {
  font-style: italic;
  margin: 23px -12px 0 12px;
}

.u-section-1 .u-social-icons-7 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-25 {
  height: 100%;
}

.u-section-1 .u-icon-26 {
  height: 100%;
}

.u-section-1 .u-icon-27 {
  height: 100%;
}

.u-section-1 .u-icon-28 {
  height: 100%;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 7px 28px 9px 27px;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-9 {
  width: 240px;
  height: 240px;
  background-image: url("images/agent7.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-22 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 49px 0 0;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-24 {
  font-style: italic;
  margin: 23px -12px 0 12px;
}

.u-section-1 .u-social-icons-8 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-29 {
  height: 100%;
}

.u-section-1 .u-icon-30 {
  height: 100%;
}

.u-section-1 .u-icon-31 {
  height: 100%;
}

.u-section-1 .u-icon-32 {
  height: 100%;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 7px 28px 9px 27px;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-10 {
  width: 240px;
  height: 240px;
  background-image: url("images/agent8.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-25 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 49px 0 0;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-27 {
  font-style: italic;
  margin: 23px -12px 0 12px;
}

.u-section-1 .u-social-icons-9 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-33 {
  height: 100%;
}

.u-section-1 .u-icon-34 {
  height: 100%;
}

.u-section-1 .u-icon-35 {
  height: 100%;
}

.u-section-1 .u-icon-36 {
  height: 100%;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 7px 28px 9px 27px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 819px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1367px;
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
  }

  .u-section-1 .u-text-27 {
    margin-left: -2px;
    margin-right: -2px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1598px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    min-height: 1034px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-rows: calc(66.66% - 3.33333px);
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1606px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1048px;
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 6.66667px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }
}